.main-div {
    width: 100%;
    // height: 5130px;
    background: #1e39a3;
    margin: auto;
    
    .mini-head {
width: 100%px;
height: 40px;
flex-shrink: 0;
background: var(--Black, #0D0D0D);

          .select {
         display: flex;
        gap: 8px;
        color: var(--White, #FFF);
        text-align: center;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; 
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-left: 147px;
        h6{
 color: rgba(255, 255, 255, 0.30);
text-align: center;
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
letter-spacing: 1.5px;
text-transform: uppercase;
margin-top: 12px;
 }}}};
 .container-fluid h2 {
    color: var(--Black, #0D0D0D);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: 0.4px; 
    margin-left: 145px;

 }